<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2>Login</h2>
            <form>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <button (click)="loginButton()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

