<div class="col-md-9 content-box">
  <!--<h3>REGISTER CLIENTS</h3>
  clientRegistrationModel: {{clientRegistrationModel|json}}
  <br/> mainClientRegistrationModel: {{mainClientRegistrationModel|json}}-->
  <div class="settingsPage-box">
    <div class="box-border-bottom section-label">BASIC INFORMATION 
      </div>    
    <div>
      <div class="row-view box-border-bottom">
        <div class="row">
          <div class="col-sm-3 grid-block">
            <div class="label-field">Search Customer</div>
          </div>
          <div class="col-sm-4 grid-textField">
            <input type="text" class="form-control" />
          </div>
          <div class="btnWrapper">
              <button class="btn col-sm-3 cancel-btn btnMargingRt save-silver" (click)="addDetail()">Search</button>
            </div>
        </div>
      </div>
      <div class="col-sm-3">
          <span (click)="view();" class="btn cancel-btn btnMargingRt save-b" title="Save">View Customers</span>
      </div>
      <div class="btnWrapper">
        <button class="btn cancel-btn btnMargingRt save-silver" (click)="addDetail()">Add Customer</button>
      </div>
    </div>
  </div>
</div>